<% if @revision.nil? then 
      body="" 
      title=""
   else 
      body = @revision.body 
      title = @revision.title
   end 
%>

<%= form_tag("/editor/commit" , :name=> "editor", :remote => true, :update => "message") do  %>
        <%= label_tag "title", "Title:" %>
        <%= text_field_tag "title", title %>
        <%= text_area_tag "body", body, :class=> 'wymeditor'  %>
        <div>
        <%= submit_tag "commit", :disable_with => "saving..."  %>
        <span style="text-align: right"><%= link_to "Timeline", :action => "viewTree" %></span>
        </div>
<% end %>
