<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <title>Timeline</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <script type='text/javascript' src='http://d3js.org/d3.v2.js'></script>
 
  <%= csrf_meta_tags %>
  <%= raw wymeditor_initialize %>
  <script type='text/javascript'>
    var EMPTYFUNC = function(){};
    var EditorStates = {};
    $("body").ready(function () {
      //addScribble();
      drawSomething();
      EditorStates.context = $('#myCanvas')[0].getContext("2d");
      EditorStates.options = [
        { name: "Scribble",
          onclick: function() { changeTool("Scribble")},
          mousedown: startScribble,
          mousemove: drawScribble,
          mouseup: finishScribble
        },
        { name: "Line Width",
          onclick: setLineWidth
        },
        { name: "Ellipse", 
          onclick: function() {changeTool("Ellipse"); },
          mousedown: EMPTYFUNC,
          mousemove: EMPTYFUNC,
          mouseup: EMPTYFUNC

        },
        { name: "Image",
          onclick: EMPTYFUNC 
        },
        { name: "Undo",
          onclick: undo
        },
        { name: "Clear",
          onclick: clearCanvas
        }];
      initCanvasEvents();
    });
  </script>
</head>
<body>

<h1>Online Web Page Editor</h1>
<div id='message'></div>
<%= yield %>

</body>
</html>
